 
	<!--Background banner with parallax effect-->
	<md-background-banner color="#235b91" height="300px"> </md-background-banner>
	
	<!--CARD CONTAINER START-->
	<div class="card-container" style="padding:20px;">
		<!--WHITEFRAME START-->
		<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto"> 

			<!--FORM START-->
			<form name="editForm" ng-submit="submit()" style="width:100%">
				<md-content flex>
				 <div ng-show="Progressbar" layout="column" layout-sm="column" layout-align="center center" 
				 style="z-index: 10;position: absolute;height: 100%;width: 100%;">
				    <md-progress-circular md-mode="indeterminate"></md-progress-circular>

				    <span> 
				    	<b>Please wait....</b>
				    </span>
				  </div>


					<div layout layout-sm="column" layout-margin>
						<div flex="5">
							<img src="img/material alperbert/avatar_tile_o_28.png" style="margin-top:22px;border-radius:20px"/>
						</div>
						<div flex="10" style="margin-top:35px;">
							<label style="font-weight:700">Order</label>
						</div>
 

			             <md-input-container flex >
							<label>STB</label>
							<input ng-model="STBno">
						</md-input-container>

						<div layout layout-align="start center"
						 style="margin-top: -15px; margin-left:10px;">
							<md-button style="height: 20px; max-width: 100px;" 
						class="md-raised md-primary" ng-click="ordertypefunc(STBno)"  type="button">Search</md-button>
						</div>

			            
					 </div>
					 


						<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">
									 
								</div>
								<div flex="10" style="margin-top:35px;" class="blankspace">
									 
								</div>
								 <md-input-container flex >
									<label>Account Number</label>
									<input ng-model="orderAccno" ng-disabled="true">
								</md-input-container>

								<md-input-container flex >
									<label>Promotion </label>
									<input ng-model="promotionCode" required ng-disabled="true">
								</md-input-container>

								
							 
							</div>

							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">
									 
								</div>
								<div flex="10" style="margin-top:35px;" class="blankspace">
									 
								</div>
								 <md-input-container flex>
			                        <label>Order Type</label>
			                        <md-select ng-model="order.ordertype">
			                           <md-optgroup label="Order">
			                           <md-option value="Sechet">Sechet</md-option>
			                           <md-option value="Chanel">Chanel</md-option>
			                        </md-select>
			                     </md-input-container>

								<md-input-container flex >
									<label>Product Code</label>
									<input ng-model="order.productCode" required ng-disabled="false">
								</md-input-container>

								
 
							</div>

							<div layout layout-sm="column" layout-margin>
								<div flex="5" class="blankspace">
									 
								</div>
								<div flex="10" style="margin-top:35px;" class="blankspace">
									 
								</div>
								<md-input-container flex >
									<label>Qty</label>
									<input ng-model="order.Qty" required ng-disabled="false">
								</md-input-container>

								<md-input-container flex>
			                        <label>UOM</label>
			                        <md-select ng-model="order.UOM">
			                           <md-optgroup label="Order">
			                           <md-option value="Month">Month</md-option>
			                           <md-option value="Date">Date</md-option>
			                            <md-option value="Unit">Unit</md-option>
			                        </md-select>
			                     </md-input-container>
							</div>

 
		 <md-divider></md-divider>
  				<div layout="row" layout-align="end start" layout-margin  ng-show="false" >
						<md-button id="mySignup" class="md-raised md-primary"  type="submit">Submit</md-button>
					</div>
				</md-content>
			</form>
	
		</md-whiteframe><br><br>
		<!--WHITEFRAME END-->
	</div>
	<!--CARD CONTAINER END-->


<div  class="lock-size" layout="row">


			<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
					ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">

		<md-fab-trigger>

			<div style="padding:5px;">
					
					<md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
						<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
					</md-button>

			</div>

		</md-fab-trigger>

		<md-fab-actions>

	<div style="padding:5px;">

		<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="save()" style="background-color:#1abc9c;">
			<md-icon md-svg-src="img/ic_save_24px.svg" ></md-icon><md-tooltip md-direction="left">Save Order</md-tooltip>
		</md-button>

	</div>

	<div style="padding:5px;">

 
 

</md-fab-actions>
</md-fab-speed-dial>

 
</div>


 