 
	<!--Background banner with parallax effect-->
	<md-background-banner color="#235b91" height="300px"> </md-background-banner>
	
	<!--CARD CONTAINER START-->
	<div class="card-container" style="padding:20px;">
		<!--WHITEFRAME START-->
		<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto"> 

			<!--FORM START-->
			<form name="editForm" ng-submit="submit()" style="width:100%">
				<md-content flex>
				 <div ng-show="Progressbar" layout="column" layout-sm="column" layout-align="center center" style="z-index: 10;position: absolute;height: 100%;width: 100%; background-color:#FFFFFF; opacity: 0.6;">                          
                             
		            </div>
		        <!-- Progressbar -->
						 <div ng-show="Progressbar" layout="column" layout-sm="column" layout-align="center center" style="z-index: 10;position: absolute;height: 100%;width: 100%;">
					    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
						    <span> 
						    	<b>Please wait....</b>
						    </span>
				  		</div>
				  	 <div ng-show="SubmitProgress" layout="column" layout-sm="column" layout-align="center center" style="z-index: 10;position: absolute;height: 100%;width: 100%; background-color:#FFFFFF; opacity: 0.6;"></div>
             
			            <div ng-show="SubmitProgress" layout="column" layout-sm="column" layout-align="center center" 
			               style="z-index: 10;position: absolute;height: 100%;width: 100%;">
			               <md-progress-circular md-mode="indeterminate"></md-progress-circular>
			               <span> 
			               <b>Submitting Data....</b>
			               </span>
			            </div>

					<div layout layout-sm="column" layout-margin>
						 
 	
						<section-title title="Order"> </section-title>
                       
			             <md-input-container flex >
							<label>STB</label>
							<input ng-model="STBno" ng-keyup="ClearData()">
						</md-input-container>

						<div layout layout-align="start center"
						 style="margin-top: -15px; margin-left:10px;">
							<md-button style="height: 20px; max-width: 100px;" 
						class="md-raised md-primary" ng-click="ordertypefunc(STBno)"  type="button">Search</md-button>
						</div>

			            
					 </div>
					 


						<div layout layout-sm="column" layout-margin>
								  <section-title > </section-title>
                       
								 <md-input-container flex >
									<label>Account Number</label>
									<input ng-model="orderAccno" ng-disabled="true">
								</md-input-container>

								<md-input-container flex >
									<label>Promotion </label>
									<input ng-model="promotionCode" required ng-disabled="true">
								</md-input-container>

								
							 
							</div>

							<div layout layout-sm="column" layout-margin>
								  <section-title > </section-title>
                       
								 <md-input-container flex>
			                      <label>Order Type</label>
			                      <md-select ng-model="OrderType" ng-change="SelectPackage(OrderType)">
			                           <md-optgroup label="Order">
			                           <md-option value="Sechet" selected>Sechet Package</md-option>
			                           <md-option value="Chanel" >Chanel Package</md-option>
			                      </md-select>
			                     </md-input-container>

								<!-- <md-input-container flex >
									<label>Product Code</label>
									<input ng-model="order.productCode" required ng-disabled="false">
								</md-input-container> -->
								<md-autocomplete flex required="" md-input-name="autocompleteField"
				                  md-no-cache="noCache" 
				                  md-selected-item="selectedItem" 
				                  md-search-text="searchText"
				                  md-items="item in querySearch(searchText)" 
				                  md-item-text="item.display" 
				                  md-floating-label="Product Code">
				                  <md-item-template>
				                     <span md-highlight-text="searchText">{{item.display}}</span>
				                  </md-item-template>
				                  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
				                     <div ng-message="required">You 
				                        <b>must</b> have a favorite state.
				                     </div>
				                     <div ng-message="minlength">Your entry is not long enough.</div>
				                     <div ng-message="maxlength">Your entry is too long.</div>
				                  </div>
				               	</md-autocomplete>
 
							</div>

							<div layout layout-sm="column" layout-margin>
								  <section-title > </section-title>
                       							 
								<md-input-container flex>
			                        <label>Qty</label>
			                        <md-select ng-model="orderQty">
			                           <md-optgroup label="Qty">
			                           <md-option value="1" selected>1</md-option>
			                           <md-option value="2">2</md-option>
			                           <md-option value="3">3</md-option>
			                           <md-option value="4">4</md-option>
			                        </md-select>
			                     </md-input-container>

								<md-input-container flex>
			                        <label>UOM</label>
			                        <md-select ng-model="orderUOM">
			                           <md-optgroup label="Order">
			                           <md-option value="MONTHS" selected>MONTHS</md-option>
			                            <md-option value="UNITS">UNITS</md-option>
			                        </md-select>
			                     </md-input-container>
							</div>

 
		 <md-divider></md-divider>
  				<div layout="row" layout-align="end start" layout-margin  ng-show="false" >
						<md-button id="mySignup" class="md-raised md-primary"  type="submit">Submit</md-button>
					</div>
				</md-content>
			</form>
	
		</md-whiteframe><br><br>
		<!--WHITEFRAME END-->
	</div>
	<!--CARD CONTAINER END-->


<div  class="lock-size" layout="row">


			<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
					ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">

		<md-fab-trigger>

			<div style="padding:5px;">
					
					<md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
						<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
					</md-button>

			</div>

		</md-fab-trigger>

		<md-fab-actions>

	<div style="padding:5px;">

		<md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="save()" style="background-color:#1abc9c;">
			<md-icon md-svg-src="img/ic_save_24px.svg" ></md-icon><md-tooltip md-direction="left">Save Order</md-tooltip>
		</md-button>

	</div>

	<div style="padding:5px;">

 
 

</md-fab-actions>
</md-fab-speed-dial>

 
</div>


 