 
	<!--Background banner with parallax effect-->
	<md-background-banner color="#235b91" height="300px"> </md-background-banner>
	
	<!--CARD CONTAINER START-->
	<div class="card-container" style="padding:20px;">
		<!--WHITEFRAME START-->
		<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto"> 

			<!--FORM START-->
			<form name="editForm" ng-submit="submit()" style="width:100%">
				<md-content flex>


					<div layout layout-sm="column" layout-margin>
						<div flex="5">
							<img src="img/material alperbert/avatar_tile_r_28.png" style="margin-top:22px;border-radius:20px"/>
						</div>
						<div flex="10" style="margin-top:35px;">
							<label style="font-weight:700">Refresh</label>
						</div>

						 <md-input-container flex >
							<label>STB</label>
							<input ng-model="stbno" required ng-disabled="fasle">
						</md-input-container>

						<div flex layout layout-margin layout-align="center center"  ng-show="true" >
								
									<md-button id="mySignup" style="" class="md-raised md-primary"  type="submit">Refresh</md-button>
								
								
						</div>

					 </div>

					  <md-divider></md-divider>
 			
				</md-content>
			</form>
	
		</md-whiteframe><br><br>
		<!--WHITEFRAME END-->
	</div>
	<!--CARD CONTAINER END-->
 

 